Parte 1
- Trabajar en un archivo llamado cuaderno1.ipynb
- Crea un conjunto de datos usando la librería https://faker.readthedocs.io/en/master/
- El número de registros que se debe generar es de 10000
- El conjunto de datos tendrá las siguientes características:
- Para cada registro usar las características: fake.name(), fake.last_name(), fake.email(), fake.address()
- Pasar los registros a un dataframe de pandas
- Agregando dos características más:
- Edad, comprendidas entre 30 y 40 años
- Provincia, entre las opciones (Loja, Pichincha, Guayas, Azuay, Manabí)
- Pasar el dataframe a un archivo csv

In [70]:
from faker import Faker
import random
import pandas as pd
fake = Faker()
datos=[]
for a in range(10000):
    nombres=fake.name()
    apellidos=fake.last_name()
    correo=fake.email()
    direccion=fake.address()
    edad=random.randint(30, 40)
    provincia=random.choice(['Loja','Pichincha','Guayas','Azuay','Manabi'])
    datos.append([nombres,apellidos,correo,direccion,edad,provincia])

dataframe=pd.DataFrame(datos,columns=['Nombres','Apellidos','Correo','Direccion','Edad','Provincia'])
dataframe.head()

,Nombres,Apellidos,Correo,Direccion,Edad,Provincia
0,Stephanie Hughes,Green,rglenn@example.net,"5145 Phillips Tunnel Suite 711\nNorth Kim, CA ...",40,Loja
1,John Jefferson,Torres,iking@example.com,"6457 Ricardo Wells Apt. 512\nMarybury, KY 23671",31,Pichincha
2,Nicole Johns,Potts,shane81@example.org,"27521 Sarah Port Apt. 271\nCarolynborough, MT ...",31,Guayas
3,Edwin Henderson,Grimes,crystal80@example.net,"31334 Zachary Fork\nLisatown, AL 44945",39,Azuay
4,Donna Martinez,Moore,mikemcintosh@example.net,"27762 William Rest\nLake Angelafurt, AR 14496",34,Pichincha

In [71]:
# Pasar datos a CSV
dataframe.to_csv('datos.csv', index=False)